<section id="creations">
  <!-- Creations Container -->
  <div class="container max-w-6xl mx-auto my-32 px-6 text-gray-900 md:px-0">
    <!-- Creations Header -->
    <div class="flex justify-center mb-20 md:justify-between">
      <h2 class="text-4xl text-center uppercase md:text-left md:text-5xl">
        Our Creations
      </h2>

      <button class="hidden md:block" appButtonPrimary>SEE ALL</button>
    </div>

    <!-- Items Container -->
    <div class="item-container mb-10">
      <app-card
        *ngFor="let project of projects | slice : 0 : 4"
        [title]="project.title"
        [desktopImg]="project.desktopImg"
        [mobileImg]="project.mobileImg"
      ></app-card>
    </div>
    <div class="item-container">
      <app-card
        *ngFor="let project of projects | slice : 4"
        [title]="project.title"
        [desktopImg]="project.desktopImg"
        [mobileImg]="project.mobileImg"
      ></app-card>
    </div>
    <!-- Bottom Button Container -->
    <div class="flex justify-center mt-10 md:hidden">
      <button class="w-full md:hidden" appButtonPrimary>See All</button>
    </div>
  </div>
</section>
