// Hamburger Menu
.hamburger {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.25s;
  position: relative;

  span {
    position: absolute;
    width: 1.5rem;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }

  &-top {
  }

  &-middle {
    transform: translateY(7px) !important;
  }

  &-bottom {
    transform: translateY(14px) !important;
  }
}

.open {
  transform: rotate(90deg);

  & .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px) !important;
  }

  & .hamburger-middle {
    display: none;
  }

  & .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px) !important;
  }
}
